@page "/explorer"
@using Flownodes.Shared.Models
@using Flownodes.Waikiki.Services
@inject IContextService ContextService;

<PageTitle>Flownodes Web - Explorer</PageTitle>
<div class="d-flex gap-4">
    <MudTreeView Hover="true" @bind-SelectedValue="_currentSummary" >
        <MudVirtualize T="ResourceSummary" Items="@ContextService.ResourceSummaries">
            <MudTreeViewItem Value="@context" Icon="@Icons.Material.Outlined.DeviceUnknown" Text="@context.Id"/>
        </MudVirtualize>
    </MudTreeView>
    <div class="flex-grow-1">
        <Resource ResourceId="@_currentSummary?.Id"/>
    </div>
</div>

@code {
    private ResourceSummary? _currentSummary;

    protected override async Task OnInitializedAsync()
    {
        _currentSummary = ContextService.ResourceSummaries.First();
    }
}