@page "/explorer"
@using Flownodes.Waikiki.Services
@using Flownodes.Shared.Models
@inject IContextService ContextService;

<PageTitle>Flownodes Web - Explorer</PageTitle>
<MudStack Row="true" AlignItems="AlignItems.Stretch" Justify="Justify.Center" Spacing="8">
    <MudTreeView Hover="true" @bind-SelectedValue="_currentSummary">
        <MudVirtualize T="ResourceSummary" Items="@ContextService.ResourceSummaries">
            <MudTreeViewItem Value="@context" Icon="@Icons.Material.Outlined.DeviceUnknown" Text="@context.Id"/>
        </MudVirtualize>
    </MudTreeView>
    <div class="flex-grow-1">
        <Resource ResourceId="@_currentSummary?.Id"/>
    </div>
</MudStack>

@code {
    private ResourceSummary? _currentSummary;

    protected override async Task OnInitializedAsync()
    {
        _currentSummary = ContextService.ResourceSummaries.First();
    }

}